<app-header></app-header>

<div class="w-100 ad mt-3">
  <div class="div-ads d-flex justify-content-evenly">
    <div class="card-ads d-flex flex-column w-25 justify-content-end" style="background-image: url('/images/jordanImg.jpg');">
      <div class="d-flex align-items-end flex-column">
        <span>Shoes</span>
        <p>Steady steps, unbeatable style discover the perfect sneaker for you!</p>
        <button class="btn btn-light">Buy now</button>
      </div>
    </div>

    <div class="card-ads d-flex flex-column w-25 justify-content-end" style="background-image: url('/images/lookImg.jpg');">
      <div class="d-flex align-items-end flex-column">
        <span>Outfit</span>
        <p>Fashion that suits you comfort, style and attitude in every piece!</p>
        <button class="btn btn-light">Buy now</button>
      </div>
    </div>

    <div class="card-ads d-flex flex-column w-25 justify-content-end" style="background-image: url('/images/notebookImg.jpg');">
      <div class="d-flex align-items-end flex-column">
        <span>Tech</span>
        <p>Innovation at your fingertips discover the latest in technology!</p>
        <button class="btn btn-light">Buy now</button>
      </div>
    </div>
  </div>
</div>

<div class="search-products" (click)="scrollToSearchProducts()">
  <input
    type="text"
    class="rounded-pill border border-1 w-25 p-1 border-dark"
    placeholder="Search..."
    [(ngModel)]="searchTerm"
    (input)="searchProducts()"
  />

  <select
    class="form-select select-category rounded-pill border-dark"
    [(ngModel)]="selectedCategory"
    (change)="filterByCategory()"
  >
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>
</div>


<div class="text-center m-3" *ngIf="loading">
  <p>Carregando produtos...</p>
</div>

<div class="w-100 products mt-3" *ngIf="!loading">
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let product of filteredProducts" class="m-3">
      <app-cards
        [image]="product.thumbnail"
        [title]="product.title"
        [description]="product.description"
        [price]="product.price"
      >
      </app-cards>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
